<h1>Citologia</h1>

<table class="table table-striped table-hover" id="exportPDF">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Hospital</th>
      <th>Servicio</th>
      <th>Cama</th>
      <th>Diagnostico clinico</th>
      <th>Datos Anatomicos</th>
      <th>Lugar de Muestra</th>
      <th>Diagnostico Operatorio</th>
      <th>Pieza Quirurgica</th>
      <th>Biopsia</th>
      <th>Otros</th>
      <th>Conservante</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_anat_citologicas.each do |form_anat_citologica| %>
      <tr>
        <td><%= form_anat_citologica.paciente.nombres %></td>
        <td><%= form_anat_citologica.hospital %></td>
        <td><%= form_anat_citologica.servicio %></td>
        <td><%= form_anat_citologica.cama %></td>
        <td><%= form_anat_citologica.diagnostico_clinico %></td>
        <td><%= form_anat_citologica.datos_anatomicos %></td>
        <td><%= form_anat_citologica.lugar_muestra %></td>
        <td><%= form_anat_citologica.diagnostico_operatorio %></td>
        <td><%= form_anat_citologica.pieza_quirurgica %></td>
        <td><%= form_anat_citologica.biopsia %></td>
        <td><%= form_anat_citologica.otros %></td>
        <td><%= form_anat_citologica.conservante %></td>
        <td><%= form_anat_citologica.fecha_entrega %></td>
        <td><%= form_anat_citologica.hospital %></td>
        <td><%= link_to 'Ver', form_anat_citologica %></td>
        <td><%= link_to 'Editar', edit_form_anat_citologica_path(form_anat_citologica) %></td>
        <td><%= link_to 'Eliminar', form_anat_citologica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= link_to '<i class="glyphicon glyphicon-list-alt"></i>'.html_safe, {:format => "pdf", :controller => "form_anat_citologicas", action: "show", :id => form_anat_citologica}, :"data-toggle" => "tooltip", :"data-placement" => "bottom", :title => "Crear  Informe", :target => "_blank" %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Citologia', new_form_anat_citologica_path, :class=> "btn" %>

<a href="javascript:location.reload()">Mostrar historial de registro</a>

<script type="text/javascript">
  tabla();
</script>

<script type="text/javascript">
  function demoFromHTML1() {
    var pdf = new jsPDF('p', 'pt', 'letter');

    pdf.cellInitialize();
    pdf.setFontSize(10);
    $.each( $('#exportPDF tr'), function (i, row){
        $.each( $(row).find("td, th"), function(j, cell){
            var txt = $(cell).text().trim()+"adad" || " ";
            var width = (j==4) ? 40 : 70; //make 4th column smaller
            console.log("fghjklñ");
            console.log($(cell));
            pdf.cell(10, 50, width, 30, txt, i);
        });
    });

    pdf.save('sample-file.pdf');
}
</script>


<div id="chart-container"></div>
<script type="text/javascript">
  console.log(gon.query);
</script>
<script type="text/javascript">
  FusionCharts.ready(grafico_columna("chart-container","Historial de registro del ultimo año Citologia","Meses","Cantidad de pacientes registrados",gon.reporte_mensual_citologia));
</script>