<p>
  <strong>Estado:</strong>
  <%= @registro_insumos_reactivo.estado %>
</p>

<p>
  <strong>Insumo reactivo:</strong>
  <%= @registro_insumos_reactivo.insumo_reactivo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @registro_insumos_reactivo.cantidad %>
</p>

<p>
  <strong>Personal entregante:</strong>
  <%= @registro_insumos_reactivo.personal_entregante %>
</p>

<p>
  <strong>Pesonal receptor:</strong>
  <%= @registro_insumos_reactivo.pesonal_receptor %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @registro_insumos_reactivo.observaciones %>
</p>

<%= link_to t('atras'), insumo_reactivos_path %>
