<h1>Diagnosticos</h1>

<table id="tabla">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Nro de Diagnostico</th>
      <th>Despcripcion</th>
      <th>Tipo de Diagnostico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnosticos.each do |diagnostico| %>
      <tr>
        <td><%= diagnostico.paciente %></td>
        <td><%= diagnostico.n_diagnostico %></td>
        <td><%= diagnostico.despcripcion %></td>
        <td><%= diagnostico.tipo_diagnostico %></td>
        <td><%= link_to 'Ver', diagnostico %></td>
        <td><%= link_to 'Editar', edit_diagnostico_path(diagnostico) %></td>
        <td><%= link_to 'Eliminar', diagnostico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Diagnostico', new_diagnostico_path, :class=> "btn" %>
