<p id="notice"><%= notice %></p>

<p>
  <strong>Persona:</strong>
  <%= @laboratorio.persona.nombre %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @laboratorio.nombre %>
</p>

<%= link_to 'Edit', edit_laboratorio_path(@laboratorio) %> |
<%= link_to 'Back', laboratorios_path %>
