<div>
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class=""><a href="#home" role="tab" data-toggle="tab">Detalles</a></li>
    <li class="active"><a href="#profile" role="tab" data-toggle="tab">Historial</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="home">

      <p>
        <strong>Laboratorio:</strong>
        <%= @insumo_reactivo.form_laboratorio %>
      </p>

      <p>
        <strong>Tipo:</strong>
        <%= @insumo_reactivo.tipo %>
      </p>

      <p>
        <strong>Nombre:</strong>
        <%= @insumo_reactivo.nombre %>
      </p>

      <p>
        <strong>Unidad medida:</strong>
        <%= @insumo_reactivo.unidad_medida %>
      </p>

      <p>
        <strong>Cantidad:</strong>
        <%= @insumo_reactivo.cantidad %>
      </p>

      <p>
        <strong>Costo unitario:</strong>
        <%= @insumo_reactivo.costo_unitario %>
      </p>

      <p>
        <strong>Costo total:</strong>
        <%= @insumo_reactivo.costo_total %>
      </p>

      <p>
        <strong>Partida:</strong>
        <%= @insumo_reactivo.partida %>
      </p>

      <p>
        <strong>Descripcion:</strong>
        <%= @insumo_reactivo.descripcion %>
      </p>
    </div>
    <div class="tab-pane fade active in" id="profile">

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Cantidad</th>
          <th>Personal entregante</th>
          <th>Pesonal receptor</th>
          <th>Observaciones</th>
        </tr>
        </thead>

        <tbody>
        <% @registro_insumos_reactivos.each do |registro_insumos_reactivo| %>
            <tr>
              <td>
                <div class="btn" style="background: #ffffff; color: #000000">
                  <span class="glyphicon glyphicon-arrow-<%= registro_insumos_reactivo.estado == 'Entrada' ? 'down fg-emerald' : 'up fg-red' %>"></span>
                  <%= registro_insumos_reactivo.estado %>
                </div>
              </td>
              <td><%= registro_insumos_reactivo.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= registro_insumos_reactivo.cantidad %></td>
              <td><%= registro_insumos_reactivo.personal_entregante %></td>
              <td><%= registro_insumos_reactivo.pesonal_receptor %></td>
              <td><%= registro_insumos_reactivo.observaciones %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div id="orders_chart" style="width: 560px; height: 300px;"></div>

<table class="pretty">
  <!-- Orders table code here -->
</table>

<%= link_to 'Editar', edit_insumo_reactivo_path(@insumo_reactivo) %> |
<%= link_to 'Atras', insumo_reactivos_path %> |
<%= link_to 'Generar pdf ', {:controller => "insumo_reactivos", action: 'show', :format => :pdf} %>


<script type="text/javascript" charset="utf-8">
    $(function () {
        // Set up the chart
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'orders_chart',
                type: 'column',
                margin: 75,
                options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15,
                    depth: 50,
                    viewDistance: 25
                }
            },
            title: {
                text: 'Historial de kardex'
            },
            subtitle: {
                text: '<%= ''%>'
            },
            xAxis: { type: 'datetime' },
            yAxis: {
                title: { text: 'Cantidad'}
            },
            plotOptions: {
                column: {
                    depth: 25
                }
            },
//            series: [{
//                data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
//            }]
            series: [

                <%# @registro_insumos_reactivos.each do |insumo| %>
                {
                    name: "<%= @insumo_reactivo.nombre %>",
                    pointInterval: <%= 1.day * 1000 %>,
                    pointStart: <%= 2.weeks.ago.at_midnight.to_i * 1000 %>,
                    data: <%= (2.weeks.ago.to_date..Date.today).map { |date| RegistroInsumosReactivo.total_on(date,@insumo_reactivo.id).to_f}.inspect %>
                },
                <%# end %>]
        });


        // Activate the sliders
        $('#R0').on('change', function(){
            chart.options.chart.options3d.alpha = this.value;
            showValues();
            chart.redraw(false);
        });
        $('#R1').on('change', function(){
            chart.options.chart.options3d.beta = this.value;
            showValues();
            chart.redraw(false);
        });

        function showValues() {
            $('#R0-value').html(chart.options.chart.options3d.alpha);
            $('#R1-value').html(chart.options.chart.options3d.beta);
        }
        showValues();
    });
</script>