<%= simple_form_for(@persona) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ci %>
    <%= f.input :nombre %>
    <%= f.input :apellido_paterno %>
    <%= f.input :apellido_materno %>
    <%= f.input :direccion %>
    <%= f.input :telefono %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
