<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @persona.ci %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @persona.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @persona.apellido_materno %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
