<% fecha=Time.now %>
<%= simple_form_for(@form_cultivo) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-xs-6">
          <%= f.association :paciente,label_method: :nombres %></div>
          <div class="col-xs-6">
            <%= f.association :hospital, label_method: :nombre, :as => :collection_select, collection: Hospital.where("nombre<>'Todos'"), :label => "Hospital" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
               <div class="input-group">
                    <b>Fecha</b>
                      <input class="form-control hasDatepicker" id="paciente_fecha_nacimiento" name="form_cultivo[fecha]" type="date" max='<%= fecha.strftime("%Y") + "-" + fecha.strftime("%m") + "-" + fecha.strftime("%d") %>' min="1866-01-01"
                      value='<%= fecha.strftime("%Y") + "-" + fecha.strftime("%m") + "-" + fecha.strftime("%d") %>'>
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
                  </div>
              <!-- 
              <%= f.input :fecha do %>
              <div class="input-group">
                <%= f.text_field :fecha, :class => 'form-control' %>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </div>
              </div>
              <%end%>
              -->


            </div>
            <div class="col-sm-4">
              <%= f.input :tipo_muestra %>
            </div>
            <div class="col-sm-4">

            <div class="input-group">
                    <b>Fecha</b>
                      <input class="form-control hasDatepicker" id="paciente_fecha_nacimiento" name="form_cultivo[periodo]" type="date" max='<%= fecha.strftime("%Y") + "-" + fecha.strftime("%m") + "-" + fecha.strftime("%d") %>' min="1866-01-01"
                      value='<%= fecha.strftime("%Y") + "-" + fecha.strftime("%m") + "-" + fecha.strftime("%d") %>'>
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </div>
                  </div>
            <!--
              <%= f.input :periodo do %>
              <div class="input-group">
                <%= f.text_field :periodo, :class => 'form-control' %>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </div>
              </div>
             <% end %>
            -->

             </div>
            <div class="col-sm-4">
             <%= f.input :observaciones %>
            </div>
            <div class="col-sm-4">
            <%= f.input :medico %>
            </div>
          </div>
        </div>
      </div>
    </div>



<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
</div>

<script>
    var ready;

    ready = function () {
        $("#form_cultivo_fecha, #form_cultivo_periodo").datepicker({
            yearRange: "-100:+0",
            changeMonth: true,
            changeYear: true
        });
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
</script>